<footer>
    <div class="footer">
        <div class="footer-content">
            <h3>Contact Us</h3>
            <p>Email:kshitizb87@gmail.com</p>
            <p>Phone:+977 9708251386</p>
            <p>Address:Bharatpur-10, Chitwan</p>
        </div>
        <div class="footer-content">
            <h3>Quick Links</h3>
            <ul>
                <li><a href="/">Home</a></li>
            </ul>
        </div>
        <div class="footer-content">
            <h3>Follow Us</h3>
            <div class="social-icon">
                <a href="#"><i class="fa-brands fa-facebook"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
            </div>
        </div>
    </div>

    <div class="copyright">
        <p><i class="fa-regular fa-copyright"></i> 2025 Result Wave. All Rights Reserved</p>
    </div>
</footer>