<nav>
    <div class="nav-data">
        <div class="navDate">
            <span id="englishDate"></span>
            <span id="nepaliDate"></span>
        </div>
        <form action="/admin" method="POST">
            <button type="submit">Login</button>
        </form>
    </div>

    <div class="name">
        <h3>Council for Technical Education and Vocational Training</h3>
        <h2>Office of the Controller of Examinations</h2>
        <h4>Sanothimi, Bhaktapur</h4>
    </div>
</nav>