<nav>
    <div class="nav-data">
        <div class="logo">
            <a href="/admin">Admin Panel</a>
        </div>
        <div class="navMenu">
            <a href="/admin">Home</a>
            <a href="/admin/add-results">Add Result</a>
            <a href="/admin/edit-results">Update Results</a>
            <a href="/admin/subjects/new">Add Subjects</a>
            <a href="#">Results</a>
        </div>
        <div class="navItems">
            <div class="navDate">
                <span id="englishDate"></span>
                <span id="nepaliDate"></span>
            </div>
            <form action="">
                <button type="submit">Logout</button>
            </form>
        </div>
    </div>
</nav>